body {
  background-color: #f7f7f9;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.logo a {
  text-decoration: none;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.icon {
  color: #7f8cff;
}

.icons {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0;
}

.banner {
  background-image: url(images/header-shapes.png);
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0 24px;
  height: 120vh;
  border-bottom-left-radius: 80px;
}

.header-text {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 50px;
  padding-top: 80px;
  margin: 0;
  color: #172b4d;
}

.paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #344563;
}

.connect {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.containers {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 16px;
  background-color: #fff;
  border-radius: 26px;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.img {
  width: 97%;
}

.image {
  display: flex;
  justify-content: center;
}

.technologies1 {
  background-color: #ebebff;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 8px;
  letter-spacing: 0.03em;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  float: right;
  margin-right: 10px;
}

.see-project {
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 10px;
  border: 1px solid #6070ff;
  margin-top: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.technologies {
  padding: 5px 10px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 8px;
  letter-spacing: 0.03em;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  list-style: none;
  display: flex;
}

.specification {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
  padding: 0;
}

.content-para {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #344563;
}

.content-header {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  color: #172b4d;
  line-height: 44px;
}

.name {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 13px;
  font-weight: 600;
  color: #344563;
}

.skills {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  display: flex;
  gap: 5px;
  height: 10px;
  align-items: center;
}

.year {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  padding-left: 10px;
  display: flex;
  gap: 5px;
  height: 10px;
  align-items: center;
}

.l {
  display: flex;
  justify-content: space-between;
}

.arrow {
  height: 7px;
  align-self: center;
  margin-left: 155px;
}

.language-section {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-direction: column;
  margin-left: 0;
  padding-left: 10px;
}

.about-container {
  padding: 16px;
  background-color: #fff;
  border-top-right-radius: 80px;
  margin-top: 35%;
  display: flex;
  flex-direction: column;
}

.about-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 0;
  margin-top: 20px;
}

.about {
  padding: 25px 0;
}

.about-para {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 0%;
}

.about-icons {
  gap: 20px;
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
}

.get-resume {
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 10px;
  border: 1px solid #6070ff;
  margin-top: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.languages {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 20px;
}

.lang-name {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.javascript-lang {
  padding: 12px 5px;
  margin-top: 10px;
  margin-left: 0;
  background: #f7f7f9;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  border-radius: 20px;
  gap: 10px;
}

.after-about {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  color: #000;
  list-style: none;
  padding: 10px;
}

.frameworks {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  list-style: none;
}

.sidearrow1 {
  height: 15px;
  align-self: center;
}

.sidearrow2 {
  height: 15px;
  align-self: center;
}

.contact-us-heading {
  font-size: 250%;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center;
  font-weight: 800;
  margin: 0;
  padding-top: 100px;
}

.container1 p {
  width: 100%;
  left: 24px;
  top: 4802px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.form {
  margin: 2% 5%;
}

form {
  display: flex;
  gap: 8px;
  flex-flow: column;
}

label {
  background-color: #fff;
  color: #7d7c84;
  font-size: 80%;
  margin: 1% auto;
  max-width: 500px;
  padding: 18px;
  width: 90%;
  display: flex;
  flex-flow: column;
  border-radius: 10px;
}

label input {
  border: none;
}

textarea {
  border: none;
}

#name {
  height: 18px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

#email {
  height: 18px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

#message {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.contact-btn {
  border: none;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  padding: 12px;
  margin: 2% 50% 0 1%;
  border-radius: 10px;
}

.end-footer {
  padding: 30px;
  text-align: center;
}
